*{
    margin: 0;
    padding: 0;
}
.calendar{
    margin: 80px;
    position: relative;
}

.calendarDiv{
 position: absolute;
    padding: 10px;
    top: 30px;
    border-left:2px solid #57ABFF;
    border-top:2px solid #57ABFF;
    border-bottom:2px solid #57ABFF;
}
.calendarDivHoliday{
 position: absolute;
    padding: 10px;
    top: 30px;
    border-left:2px solid #CB1C18;
    border-top:2px solid #CB1C18;
    border-bottom:2px solid #CB1C18;
}
/*弹性布局*/
 .calendarSelectBox{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}
.calendarSelectBox div{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .rightBox{
     position: absolute;
     left: 407px;
     top: 30px;
     width: 150px;
     height: 421px;
     background-color: #72B9FF;
 }
 .rightBoxHoliday{
    position: absolute;
      left: 407px;
      top: 30px;
      width: 150px;
      height: 421px;
      background-color: #CB1C18;
}
 /*右侧 年月日+星期-外盒子*/
.wrapBox5{
    width: 140px;
    position: absolute;
    left:5px;
    top:5px;
    display: flex;
    flex-direction: row;
}
  .dateTxt{
     flex:1.5;
     padding: 1px;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
     text-align: center;
 }
 .dayTxt{
     flex:1;
     padding: 1px;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
     text-align: center;
 }
.ulTime {
  position: absolute;
  top:145px;
  width: 100%;
  border:1px 0 1px 0 solid goldenrod;
  background: #000;
  display: flex;
  flex-direction: row;
  
}
.ulTime li {
    flex:1;
    list-style: none;
    font-size: 14px;
    color: gold;
    text-align:center
}
.currentDay{
     position: absolute;
     top: 40px;
     left: 35px;
     width: 80px;
     height: 80px;
     background-color: #FFBB00;
     border-radius: 5px;
     text-align: center;
     line-height: 80px;
     font-size: 60px;
     font-weight: 700;
     color: #fff;
 }


table{
    width: 100%;
    margin-top: 10px;
}

table tr:nth-child(1){
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #55AAFF;
     color: red;  
}

table tr th{
        font-family: "楷体";
     font-size: 20px;
     line-height:30px;
     
}

table tr:nth-child(n+2):nth-child(-n+6){
    border-bottom: 1px solid #ccc;
}

table,tr,td{
    border: 1px;
    border-collapse: collapse;
    text-align: center;
    color:black;
    font-family: "微软雅黑";
    background: #fff;
}

table tr td{
 width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
}

.col{
    color: #BFBFBF;  
}

.cur{
    background-color:#FFBB00;
    opacity: 0.5;
    color: #fff;  
}