*{
    margin: 0;
    padding: 0;
}
.calendar{
    margin: 80px;
    position: relative;
}

.calendarDiv{
    position: absolute;
    padding: 10px;
    top: 30px;
    border-left:2px solid #57ABFF;
    border-top:2px solid #57ABFF;
    border-bottom:2px solid #57ABFF;
}
.calendarDivHoliday{
    position: absolute;
    padding: 10px;
    top: 30px;
    border-left:2px solid #CB1C18;
    border-top:2px solid #CB1C18;
    border-bottom:2px solid #CB1C18;
}

 .calendarSelectBox{
    position: relative;
}

.calendarDiv .calendarSelectBox select{

    font-size: 12px;
    width: 80px;
    align-content: center;
    padding: 1px

}

.calendarSelectBox select:nth-child(1){
  margin-right: 25px;
  padding-left: 5px;
}
.calendarSelectBox select:nth-child(3){
  margin-right: 10px;
  padding-left: 10px;
  width: 65px;

}
.calendarSelectBox select:nth-child(5){
    margin-left: 15px;
    width: 100px;
    padding-left: 10px;

}

 .calendarSelectBox p{
    display: block;
    float: left;
    padding: 1px
}

  .calendarSelectBox p:nth-child(2){
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 10px;
  height: 16px;
  position: absolute;
  left: 93px;
  top: 0px;
 }
 .calendarSelectBox p:nth-child(2):hover{
     border: 1px solid #55AAFF;
     color: skyblue;
 }
  .calendarSelectBox p:nth-child(4){
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 10px;
  height: 16px;
  position: absolute;
  left: 164px;
  top: 0px;

 }
  .calendarSelectBox p:nth-child(4):hover{
      border: 1px solid #55AAFF;
     color: skyblue;
  }

  .calendarSelectBox p:nth-child(6){
  float: right;
  margin-right:10px;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 64px;
  height: 16px;
 }
 .calendarSelectBox p:nth-child(6):hover{
     border: 1px solid #55AAFF;

 }

 .rightBox{
     position: absolute;
     left: 407px;
     top: 30px;
     width: 150px;
     height: 421px;
     background-color: #72B9FF;
 }
 .rightBoxHoliday{
    position: absolute;
    left: 407px;
    top: 30px;
    width: 150px;
    height: 421px;
    background-color: #CB1C18;     
 }
  .dateTxt{
     display: inline-block;
     padding: 1px;
     position: absolute;
     top: 13px;
     left: 10px;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
 }

 .dayTxt{
     display: inline-block;
     padding: 1px;
     position: absolute;
     left: 90px;
     top: 13px;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
 }

 .currentDay{
     position: absolute;
     top: 40px;
     left: 35px;
     width: 80px;
     height: 80px;
     background-color: #FFBB00;
     border-radius: 5px;
     text-align: center;
     line-height: 80px;
     font-size: 60px;
     font-weight: 700;
     color: #fff;
 }


table{
    width: 100%;
    margin-top: 10px;
}

table tr:nth-child(1){
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #55AAFF;
     color: red;
    
}

table tr th{
     font-family: "楷体";
     font-size: 20px;
     line-height:30px;
     
}

table tr:nth-child(n+2):nth-child(-n+6){
    border-bottom: 1px solid #ccc;

}

table,tr,td{
    border: 1px;
    border-collapse: collapse;
    text-align: center;
    color:black;
    font-family: "微软雅黑";
    background: #fff;
}

table tr td{
 width: 55px;
    height: 55px;
    cursor: pointer;
    font-size: 20px;
}

.col{
    color: #BFBFBF;
    
}

.cur{
    background-color:#FFBB00;
    opacity: 0.5;
    color: #fff;

    
}